.SiteCard {
  &__Container {
    display: flex;
    flex-direction: column;
    width: 45%;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    margin: 1vh 1vw;
    align-items: center;

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      width: 80%;
      margin: 2vh auto;
    }

    & h2 {
      background: $color-primary;
      color: white;
      padding: 2vh 0;
      width: 100%;
    }
    & img {
      width: 95%;
    }
    & p {
      width: 90%;
    }
  }
  &__Header {
    margin: 0 0 1vh 0;
  }
  &__LinksContainer {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  &__Link {
    color: black;
  }
  &__TechContainer {
    margin: 1vh 0;
  }
}

.TechPill {
  color: black;
  background: white;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 6px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
    transform: scale(1.2);
    cursor: default;
    // border: 1px solid $color-grey-dark;
  }
}
