*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.MainContainer {
  width: 85vw;
  position: absolute;
  left: 15vw;
  background: $color-grey-light-1;
  overflow-x: hidden;

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    left: $nav-width;
    width: calc(100vw - #{$nav-width});
  }
}

.SectionContainer {
  width: 85vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 2vh 0;

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    width: calc(100vw - #{$nav-width});
  }

  &__SubHeader {
    margin: 3vh auto;
    width: 70%;
  }

  &__About {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
}

h1 {
  width: 85vw;
  color: white;
  background: $color-primary;
  padding: 1vh 0;
  font-size: 24px;
  margin: 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    width: calc(100vw - #{$nav-width});
  }
}
